<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Penuts City Gen</title>
	<!-- Bootstrap -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap-toggle.css') }}">
	<script type=text/javascript src="{{ url_for('static', filename='js/jq.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-toggle.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>	
	<div class="jumbotron text-center">
	  <h1>Reroll That City!</h1>
	  <h3> alpha v0.2 </h3>
	</div>
	<div id="buildingsSelection" class="container">
		<div class="well">
			<div id="buildingsToGen">
				<h3> Buildings </h3>
				<div class="col-md-2">
					<input type="checkbox" data-width=153 data-size="small" checked data-toggle="toggle" name="inn" data-on="Inn" data-off="Inn">
				</div>
				<div class="col-md-2">
					<input type="checkbox" data-width=153 data-size="small" checked data-toggle="toggle" name="alchemist" data-on="Alchemist" data-off="Alchemist">
				</div>
				<div class="col-md-2">
					<input type="checkbox" data-width=153 data-size="small" checked data-toggle="toggle" name="blacksmith" data-on="Blacksmith" data-off="Blacksmith">
				</div>
				<div class="col-md-2">
					<input type="checkbox" data-width=153 data-size="small" checked data-toggle="toggle" name="jeweler" data-on="Jeweler" data-off="Jeweler">
				</div>
				<div class="col-md-2">
					<input type="checkbox" data-width=153 data-size="small" checked data-toggle="toggle" name="magicweps" data-on="Magic wepons" data-off="Magic wepons">
				</div>
				<div class="col-md-2">
					<input type="checkbox" data-width=153 data-size="small" checked data-toggle="toggle" name="enchanter" data-on="Enchanter" data-off="Enchanter">
				</div>		
			</div>
			<br>
			<div id="npcSelection" class="container">
				<h3>NPC's</h3>
				<input type=text size=5 name=a value="10">
				<hr>
				<button type="button"  id="regenerateAll" class="btn btn-primary btn-lg">Reroll that City!</button>	
			</div>	
		</div>
	</div>	

		

	<div id="tables" class="container">	
		<div id="npcTable" class="col-md-7">
			<h1>NPCs</h1>
			<table class="table table-striped table-condensed table-hover">
				<thead>
				 	<tr>
			            <th>First Name</th>
			            <th>Last Name</th>
			            <th>Race</th>
			            <th>Gender</th>
			            <th>Age</th>
			    	</tr>
			    </thead>
			    <tbody>
				{% for item in charList %}
					<tr>
						<td>{{item['firstName']}}</td>
			            <td>{{item['lastName']}}</td>
			            <td>{{item['race']}}</td>
			            <td>{{item['gender']}}</td>
			            <td>{{item['age']}}</td>
					</tr>				
				{% endfor %}
				</tbody>
			</table>	
		</div>

		<div id="buildingsTable" class="col-md-5">
			<h1>Buildings</h1>
			<table class="table table-striped table-condensed table-hover">
				<thead>
				 	<tr>
			            <th>type</th>
			            <th>name</th>
			    	</tr>
			    </thead>
			    <tbody>
				{% for item in buildingList %}
					<tr>
						<td>{{item['type']}}</td>
			            <td>{{item['name']}}</td>   
					</tr>				
				{% endfor %}
				</tbody>
			</table>	
		</div>

	</div>


</body>
  	